<table >
  <tr>
    <th>Leído</th>
    <th>Emisor</th>
    <th>Título</th>
  </tr>
  <tr *ngFor="let mail of mails; index as i">
    <td>

        <input type="radio" name="leido-{{i}}" [(ngModel)]="mail.read" [value]="true"> Leído
        <input type="radio" name="leido-{{i}}" [(ngModel)]="mail.read" [value]="false"> No leído
    </td>
    <td>{{mail.sender}}</td>
    <td>{{mail.title}}</td>
  </tr>
</table>
<h1>Estado correo 1</h1>
<p *ngIf="mails[0].read; else notRead">Si</p>
<ng-template #notRead>No</ng-template>
